<!DOCTYPE html>
<html>
    <head>

    </head>
            <title>Help</title>
            <link rel="stylesheet" href="/css/styles.css">
            <link rel="icon" href="/img/weathericon.png">
    <body>
        <div class="main-content">
            {{>header}}
            <h1>Here to Help :)</h1>
            <p>{{title}}</p>
            <p>Devoloper {{name}} will be happy to guide you :)</p>
        </div>
        

        {{>footer}}
    </body>
</html>