<!DOCTYPE html>
<html>
    <head>

    </head>
            <title>Help</title>
            <link rel="stylesheet" href="/css/styles.css">
            <link rel="icon" href="/img/weathericon.png">
    <body>
        <div class="main-content">
            {{>header}}
            <h1>Ninja is on a Secret Mission :)</h1>
            <img class="ninjaatk" src="/img/ninja-attack.gif">
            <p> Our Devoloper {{name}} will be happy to guide you :)</p>
        </div>
        

        {{>footer}}
    </body>
</html>